<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>组管理</title>
<script src="/tbl/js/jquery-1.11.3.min.js"></script>
<!-- 引入已经压缩的css文件 -->
<link rel="stylesheet" href="/tbl/css/bootstrap.min.css">
<!-- 如果你想采用Bootstrap2的样式，那么引入该压缩css文件 -->
<link rel="stylesheet" href="/tbl/css/bootstrap-theme.min.css">
<!-- 引入已经压缩的js文件 -->
 <script src="/tbl/js/bootstrap.min.js"></script>
 
    <!-- Bootstrap core CSS -->
    <link href="/tbl/css/bootstrap.min.css" rel="stylesheet">

  </head>
<style type="text/css">
.btngroup > a{
		margin-right:8px;
}
</style>
<body>
	<div style="width: 70%; margin: 0 auto;">
	<div class="btngroup pull-right" style="padding:8px 10px">
		<a class="btn btn-md btn-success ">新增</a>
		<a class="btn btn-md btn-danger ">删除</a>
		<a class="btn btn-md btn-primary ">修改成员</a>
	</div>
		<table class="table table-hover" id="group">
			<tr>
				<td>组名</td><td>成立时间</td><td>班级</td><td>组长</td>
			</tr>
		</table>
	</div>
</body>
</html>