
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">

    <title>首页</title>
<script src="/tbl/js/jquery-1.11.3.min.js"></script>
<!-- 引入已经压缩的css文件 -->
<link rel="stylesheet" href="/tbl/css/bootstrap.min.css">
<!-- 如果你想采用Bootstrap2的样式，那么引入该压缩css文件 -->
<link rel="stylesheet" href="/tbl/css/bootstrap-theme.min.css">
<!-- 引入已经压缩的js文件 -->
 <script src="/tbl/js/bootstrap.min.js"></script>
 <script src="/tbl/js/validator/bootstrapValidator.min.js"></script>
<link href="/tbl/css/validator/bootstrapValidator.min.css" rel="stylesheet" />
<!-- Bootstrap core CSS -->
<link href="/tbl/css/bootstrap.min.css" rel="stylesheet">
<script>
	$(function(){
		var oldpassword;
		var name;
		var rolename;
		var gender;
		var groupID;
		var className;
		var studentNo;
		var roleID;
		$.post("/tbl/user/index.htm",function(user){
			oldpassword = user.password;
			name = user.userName;
			rolename = user.roleName;
			gender = user.gender;
			groupID = user.groupID;
			className = user.className;
			studentNo = user.studentNo;
			roleID = user.roleID;
			switch(roleID){
				case 1:
					rolename = "student";break;
				case 2:
					rolename = "teacher";break;
				case 3:
					rolename = "student";break;			
			}
			var iframeUrl = "/tbl/views/" + rolename + "Iframe.html";
			$("#content").attr("src",iframeUrl);				
		});
		
		$("#changepwd-btn").click(function(){
			$("#updatepwd-modal").modal('show');
		});
		
		$("#info-btn").click(function(){
			$("#usrinfo-name").text(name);
			$("#usrinfo-gender").text(gender);
			$("#usrinfo-groupID").text(groupID);
			$("#usrinfo-roleName").text(rolename);
			$("#usrinfo-className").text(className);
			$("#usrinfo-stuNo").text(studentNo);
			$("#personInfo-modal").modal('show');
		});
		
		$("#chinfo-btn").click(function(){
			if(roleID == 1){
				$("#chinfo-classdiv").show();
				$("#chinfo-stuNodiv").show();
				$.post("/tbl/class/findall.htm",function(classes){	
					if(classes != null){
						for(var i = 0;i < classes.length;i++){
							$("#chinf-class").append("<option value ='" + classes[i].classID + "'>" + classes[i].className + "</option>" );
						}	
					}
				});
			}
			else{
				$("#chinfo-classdiv").hide();
				$("#chinfo-stuNodiv").hide();
			}
			$("#chInfo-modal").modal('show');
		})
		
		$("#chinf-btn").click(function(){
			var upclassID = $("#chinf-class option:selected").val();
			var upgender = $("#chinf-gender option:selected").val();
			var upstuNo = $("#chinf-stuNo").val();
			var upclassName = $("#chinf-class option:selected").text();
			$.post("/tbl/user/updateinfo.htm",{upclassID:upclassID,upgender:upgender,upstuNo:upstuNo,upclassName:upclassName},function(result){
				if(result.code == 200){
					$("#chInfo-modal").modal('hide');
					alert("修改成功！");
					location.reload();
					}
				});
			});		
		
		$("#updatepwd-btn").click(function(){
			var password = $("#password1").val();
			var cpassword = $("#password2").val();
			var oldpassword1 = $("#oldpassword").val();
			if(password != cpassword){
				alert("两次密码不同！");
			}
			else{
				if(oldpassword == oldpassword1){
					if(oldpassword != password){
						$.post("/tbl/user/changepwd.htm",{password:password},function(result){
						if(result.code == 200){
							$("#updatepwd-modal").modal('hide');
							alert("修改成功！");
							location.reload();
							}
						});
					}
					else{
						alert("新密码与原密码相同");
					}
				}
				else{
					alert("原密码错误");
				}
			}
			
		});			
	});
</script>
 </head>

  <body style="position:fixed;width:100%;height:100%;background:url(/tbl/views/images/indexBack.jpg);background-repeat: no-repeat;background-size: 100%;">
  <div style="position: absolute;left: 0;right: 0;top: 0;bottom: 0;text-align: center;background:rgba(255,255,255,0.3)">
    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">TBL-教学辅助系统</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
             <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">用户设置 <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#" id="info-btn">查看个人信息</a></li>
                <li><a href="#" id="chinfo-btn">修改个人信息</a></li>
                <li><a href="#" id="changepwd-btn">修改密码</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">退出登录</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="../navbar/">Default</a></li>
            <li><a href="./">Static top <span class="sr-only">(current)</span></a></li>
            <li><a href="../navbar-fixed-top/">Fixed top</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


    <div class="container">
	<iframe id="content" frameborder="0" width="100%" height="800" style="margin: auto;"></iframe>
    </div> <!-- /container -->

</div>
<div class="modal fade bs-example-modal-sm" id="updatepwd-modal">
	  <div class="modal-dialog modal-sm">
	    <div class="modal-content">
      	<form  class="form-horizontal" role="form" id="changepwdform">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title">修改密码</h4>
	      </div>
	      <div class="modal-body">
	       <div class="input-group">
			  <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
			  <input type="password" id="oldpassword" class="form-control" placeholder="原密码">
			</div>
	        <div class="input-group" style="margin-top: 5px;">
			  <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
			  <input type="password" id="password1" class="form-control" placeholder="密码">
			</div>
			<div class="input-group" style="margin-top: 5px;">
			  <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
			  <input type="password" id="password2" class="form-control" placeholder="确认密码">
			</div>			
	      </div>
	      <div class="modal-footer">
	        
	        <button type="button" class="btn btn-primary" id="updatepwd-btn">修改</button>
	        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
	      </div>
	      </form>
	    </div>
	  </div>
	</div>
	
	<div class="modal fade" id="personInfo-modal">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
      	<form  class="form-horizontal" role="form" id="useinfoform">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title">个人信息</h4>
	      </div>
	      <div class="modal-body">
	       	<div class="form-group">
	  			<label for="usrinfo-name" class= "col-sm-4 control-label">用户名：</label>	  			
	  			<p id="usrinfo-name" class="col-sm-8" style="margin-top: 6px;"></p>	  			
	  		</div>
	  		<div class="form-group">
	  			<label class= "col-sm-4 control-label">性&nbsp;别：</label>
	  			<p id="usrinfo-gender" class="col-sm-8" style="margin-top: 6px;"></p>
	  		</div>
	  		<div class="form-group">
	  			<label for="password" class= "col-sm-4 control-label">组&nbsp;号：</label>
	  			<p id="usrinfo-groupID" class="col-sm-8" style="margin-top: 6px;"></p>
	  		</div>
	  		<div class="form-group">
		  		<label for="role" class= "col-sm-4 control-label">角&nbsp;色：</label>
		  		<p id="usrinfo-roleName" class="col-sm-8" style="margin-top: 6px;"></p>
	  		</div>
	  		<div class="form-group">
		  		<label for="class" class= "col-sm-4 control-label">班&nbsp;级：</label>
		  		<p id="usrinfo-className" class="col-sm-8" style="margin-top: 6px;"></p>
	  		</div>
	  		<div class="form-group">
		  		<label for="gender" class= "col-sm-4 control-label">学&nbsp;号：</label>
		  		<p id="usrinfo-stuNo" class="col-sm-8" style="margin-top: 6px;"></p>
	  		</div>
	      </div>
	      <div class="modal-footer">  
	        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
	      </div>
	      </form>
	    </div>
	  </div>
	</div>
	
	<div class="modal fade" id="chInfo-modal">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
      	<form  class="form-horizontal" role="form" id="chuseinfoform">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title">修改个人信息</h4>
	      </div>
	      <div class="form-group" style="margin-top: 5px;">
		  		<label for="gender" class= "col-sm-2 control-label">我是：</label>
		  		<div class="col-sm-9">
			  		<select class="form-control" name="gender" id="chinf-gender">
					  <option value ="1">萌妹</option>
					  <option value ="2">嘤嘤嘤</option>
					  <option value="3">女装萌妹</option>	
					</select>
				</div>
	  		</div>
	      <div class="modal-body" id="chinfo-classdiv" style="display: none;margin-top: 5px">
	       		<div class="form-group">
		  		<label for="class" class= "col-sm-2 control-label">班级：</label>
		  		<div class="col-sm-9">
			  		<select class="form-control" name="chinf-class" id="chinf-class">				  
					</select>
				</div>
	  		</div>	  		
	  		<div class="form-group" id="chinfo-stuNodiv" style="display: none;margin-top: 5px">
		  		<label for="gender" class= "col-sm-2 control-label">学号：</label>
		  		<div class="col-sm-9">
	  				<input class="form-control" type="text" name="chinf-stuNo" id="chinf-stuNo"/>
	  			</div>
	  		</div>
	      </div>
	      <div class="modal-footer">  
	      	<button type="button" class="btn btn-primary" id="chinf-btn">修改</button>
	        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
	      </div>
	      </form>
	    </div>
	  </div>
	</div>
  </body>
</html>
