<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>studentIframe</title>
<script src="/tbl/js/jquery-1.11.3.min.js"></script>
<!-- 引入已经压缩的css文件 -->
<link rel="stylesheet" href="/tbl/css/bootstrap.min.css">
<!-- 如果你想采用Bootstrap2的样式，那么引入该压缩css文件 -->
<link rel="stylesheet" href="/tbl/css/bootstrap-theme.min.css">
<!-- 引入已经压缩的js文件 -->
 <script src="/tbl/js/bootstrap.min.js"></script>
 <script src="/tbl/js/validator/bootstrapValidator.min.js"></script>
<link href="/tbl/css/validator/bootstrapValidator.min.css" rel="stylesheet" />
<!-- Bootstrap core CSS -->
<link href="/tbl/css/bootstrap.min.css" rel="stylesheet">
<script src="/tbl/js/eModal.min.js"></script>
<script>
	$(function(){
		$.post("/tbl/teacher/getStugrouplist.htm",function(groups){
			$("#group").html("<tr ><td>编号</td><td>组名</td><td>创建时间</td><td >解散时间</td><td>老师id</td> </tr>");
			for(var i=0; i<groups.length;i++)
			{
				$("#group").append("<tr><td>" +groups[i].groupID + "</td><td>" 
						+ groups[i].groupName+ "</td><td>"
						+ groups[i].createDate+"</td><td>" 
						+ groups[i].dismissDate +"</td><td>" 
						+ groups[i].teacherID+"</td><td>")
						
			}
		});
		
		$.post("/tbl/task/gettasklist.htm",function(tasks){
			$("#task").html("<tr ><td >编号</td><td>任务名</td><td>任务描述</td><td >老师ID</td><td>分组id</td><td>状态</td><td>创建日期</td><td>截止日期</td><td>等级</td></td><td style='width:200px'>操作</td> </tr>");
			for(var i=0; i<tasks.length;i++)
			{
				if(tasks[i].status == "未提交"){
					
							var curTime = new Date();
					var endDate = new Date(Date.parse(tasks[i].endDate));
					if(curTime <= endDate){
						$("#task").append("<tr><td>" +tasks[i].taskID + "</td><td>" 
								+ tasks[i].taskName+ "</td><td>"
								+ tasks[i].taskDetails+"</td><td>" 
								+ tasks[i].teacherID +"</td><td>" 
								+ tasks[i].groupID+"</td><td>"
								+ tasks[i].status+"</td><td>"
								+ tasks[i].createDate+"</td><td>"
								+ tasks[i].endDate+"</td><td>"
								+ tasks[i].level+"</td><td>"
								+ "<a class='btn btn-md btn-danger' onclick='upload(" + tasks[i].taskID + ")'>提交文件</a>");
						
						
					}else{
						$("#task").append("<tr><td>" +tasks[i].taskID + "</td><td>" 
								+ tasks[i].taskName+ "</td><td>"
								+ tasks[i].taskDetails+"</td><td>" 
								+ tasks[i].teacherID +"</td><td>" 
								+ tasks[i].groupID+"</td><td>"
								+ tasks[i].status+"</td><td>"
								+ tasks[i].createDate+"</td><td>"
								+ tasks[i].endDate+"</td><td>"
								+ tasks[i].level+"</td><td>"
								+ "<font color='red' >超时未提交</a>");
					
					}
				}
				else{
					$("#task").append("<tr><td>" +tasks[i].taskID + "</td><td>" 
							+ tasks[i].taskName+ "</td><td>"
							+ tasks[i].taskDetails+"</td><td>" 
							+ tasks[i].teacherID +"</td><td>" 
							+ tasks[i].groupID+"</td><td>"
							+ tasks[i].status+"</td><td>"
							+ tasks[i].createDate+"</td><td>"
							+ tasks[i].endDate+"</td><td>"
							+ tasks[i].level+"</td><td>"
							+"<a class='btn btn-md btn-danger'>该状态无法提交</a>")
				}
			}
		});
	});
	function upload(taskID){
		$("#selectTaskID").html(taskID);
		var url = "/tbl/views/upload.html";
		var option={
				url: url,
		        title: "任务" + taskID + "上传",
		        size: eModal.size.lg,
		        buttons: [{
		            text: '关闭',
		            style: 'danger',
		            close: true
		        }]
		}
		eModal.ajax(option);
	};
</script>
</head>
<body>
<div>
	<div class="panel panel-default">
	  	<div class="panel-heading">我的任务</div>
	  	<div class="panel-body">
	    	<table class="table table-hover" id="task">
			
			</table>
	  	</div>
	</div>	
</div>
<div>
	<div class="panel panel-default">
	  	<div class="panel-heading">我的分组</div>
	  	<div class="panel-body">
	    	<table class="table table-hover" id="group">
			
			</table>
	  	</div>
	</div>	
</div>
<div id="selectTaskID" style="display: none;margin-top: 5px"></div>
</body>
</html>