<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>studentIframe</title>
<script src="/tbl/js/jquery-1.11.3.min.js"></script>
<!-- 引入已经压缩的css文件 -->
<link rel="stylesheet" href="/tbl/css/bootstrap.min.css">
<!-- 如果你想采用Bootstrap2的样式，那么引入该压缩css文件 -->
<link rel="stylesheet" href="/tbl/css/bootstrap-theme.min.css">
<!-- 引入已经压缩的js文件 -->
 <script src="/tbl/js/bootstrap.min.js"></script>
 <script src="/tbl/js/validator/bootstrapValidator.min.js"></script>
<link href="/tbl/css/validator/bootstrapValidator.min.css" rel="stylesheet" />
<!-- Bootstrap core CSS -->
<link href="/tbl/css/bootstrap.min.css" rel="stylesheet">
<script src="/tbl/js/eModal.min.js"></script>
<script>
$(function(){
	reloadData();
	reloadTaskData();
})
function reloadData(){
	$.post("/tbl/teacher/getgrouplist.htm",function(ret){
		$("#group").html("<tr ><td style='width:200px'>成立时间</td><td>组名</td><td  style='width:200px'>班级</td><td >组长</td><td>组长学号</td><td style='width:200px'>操作</td>	</tr>");
		for(var i=0; i<ret.data.length;i++)
		{
			$("#group").append("<tr><td>" +ret.data[i].createDate + "</td><td>" 
					+ ret.data[i].groupName+ "</td><td>"
					+ ret.data[i].className+"</td><td>" 
					+ ret.data[i].groupLeader +"</td><td>" 
					+ ret.data[i].groupLeaderNo+"</td><td>" 
					+ "<a class='btn btn-md btn-danger' onclick='delGroup("+ret.data[i].groupID +")'>删除</a><a style='margin-left:10px' class='btn btn-md btn-primary ' onclick='editGroup("+ret.data[i].groupID +")'>修改成员</a></td>	</tr>")
					
		}
	});
}

function reloadTaskData(){
	$.post("/tbl/teacher/gettasklist.htm",function(tasks){
		$("#task").html("<tr ><td >编号</td><td>任务名</td><td>任务描述</td><td >老师ID</td><td>状态</td><td>创建日期</td><td>截止日期</td><td>类型</td></td><td style='width:200px'>操作</td> </tr>");
		for(var i=0; i<tasks.length;i++)
		{
			if(tasks[i].status == "未提交" && tasks[i].taskType == "分组任务"){
				$("#task").append("<tr><td>" +tasks[i].taskID + "</td><td>" 
						+ tasks[i].taskName+ "</td><td>"
						+ tasks[i].taskDetails+"</td><td>" 
						+ tasks[i].teacherID +"</td><td>" 
						+ tasks[i].status+"</td><td>"
						+ tasks[i].createDate+"</td><td>"
						+ tasks[i].endDate+"</td><td>"
						+ tasks[i].taskType+"</td><td>"
						+"<a class='btn btn-md btn-primary' onclick='javascript:location.href=&quot;/tbl/views/tasktogroup.html?taskId="+ tasks[i].taskID + "&quot;'>分配</a><a class='btn btn-md btn-danger' onclick='delTask("+tasks[i].taskID +")'>删除</a>")
			}
			else{
				$("#task").append("<tr><td>" +tasks[i].taskID + "</td><td>" 
						+ tasks[i].taskName+ "</td><td>"
						+ tasks[i].taskDetails+"</td><td>" 
						+ tasks[i].teacherID +"</td><td>"
						+ tasks[i].status+"</td><td>"
						+ tasks[i].createDate+"</td><td>"
						+ tasks[i].endDate+"</td><td>"
						+ tasks[i].taskType+"</td><td>"
						+"<a class='btn btn-md btn-danger' href='javascript:window.open(&quot;/tbl/" +tasks[i].filePath + "&quot;)'>下载</a><a class='btn btn-md btn-danger' onclick='delTask("+tasks[i].taskID +")'>删除</a>")
			}
		}
	});
}
function editGroup(id){
	location.href = "/tbl/views/choosestudent.html?groupid="+id
	
}

function delGroup(id){
	eModal.confirm("确定要删除吗", "删除")
    .then(function(){
    	$.post("/tbl/teacher/delgroup.htm",{groupId:id},function(ret){
    		reloadData();
    	});
    //点击取消时：
    }, function(){return;}); 
	
}

function delTask(id){
	eModal.confirm("确定要删除吗", "删除")
    .then(function(){
    	$.post("/tbl/teacher/deltask.htm",{taskId:id},function(ret){
    		reloadTaskData();
    	});
    //点击取消时：
    }, function(){return;}); 
	
}

function addGroup(){
	var options = {
	        title: '新增',
	        size: 'md',
	        url:"/tbl/views/newgroup.html",
        	buttons: [{
		            text: '关闭',
		            style: 'danger',
		            close: true
		       },
		       {
		            text: '提交',
		            style: 'primary',
		            close: true,
		            click: function(){
		            	var groupName = top.$(".embed-responsive-item")[0].contentWindow.$("#groupname").val();
		            	var classId = top.$(".embed-responsive-item")[0].contentWindow.$("#class").val();
		            	
		            	$.post("/tbl/teacher/newgroup.htm",{groupName:groupName,classId:classId},function(ret){
		            		reloadData();
		            	});
		            }
		       }
        	]
	    };
	top.eModal.iframe(options);
}

function addTask(){
	var options = {
	        title: '新增',
	        size: 'md',
	        url:"/tbl/views/newtask.html",
        	buttons: [{
		            text: '关闭',
		            style: 'danger',
		            close: true
		       },
		       {
		            text: '提交',
		            style: 'primary',
		            close: true,
		            click: function(){
		            	var taskName = top.$(".embed-responsive-item")[0].contentWindow.$("#TaskName").val();
		            	var taskDetails = top.$(".embed-responsive-item")[0].contentWindow.$("#TaskDetails").val();
		            	
		            	var enddate = top.$(".embed-responsive-item")[0].contentWindow.$("#enddate").val().toString();
		            	var taskType = top.$(".embed-responsive-item")[0].contentWindow.$("#taskType").val();
		            	var Purpose = top.$(".embed-responsive-item")[0].contentWindow.$("#Purpose").val();
		            	var classId = top.$(".embed-responsive-item")[0].contentWindow.$("#class").val();
		            	
		            	$.post("/tbl/teacher/createtask.htm",{taskName:taskName,taskDetails:taskDetails,enddate:enddate,taskType:taskType,Purpose:Purpose,classId:classId},function(ret){
		            		reloadTaskData();
		            	}); 
		            }
		       }
        	]
	    };
	top.eModal.iframe(options);
}
</script>
</head>
<body>
<div>
	<div class="panel panel-default">
	  	<div class="panel-heading">分组信息&nbsp;&nbsp;<a class="btn btn-sm btn-success" onclick="addGroup()">新增</a></div>
	 
	  	<div class="panel-body">
	    		
			
				<table class="table table-hover" id="group">
					
				</table>

	  	</div>
	</div>	
</div>
<div>
	<div class="panel panel-default">
	  	<div class="panel-heading">任务信息&nbsp;&nbsp;<a class="btn btn-sm btn-success" onclick="addTask()">新增</a></div>
	  
	  	<div class="panel-body">
	  	
	    	<table class="table table-hover" id="task">
			
			</table>
	  	</div>
	</div>	
</div>

</body>
</html>