<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.Hu.TBLBasedLearing.dao.TaskMapper"> 
 	
 	<!-- 定义数据库和实体的映射关系 -->
    <resultMap id="resultMap" type="com.Hu.TBLBasedLearing.entity.Task"> 
        <id property="TaskID" 			column="TaskID"/> 
        <result property="TaskDetails" 	column="TaskDetails"/> 
        <result property="TeacherID" 	column="TeacherID"/> 
     	<result property="Status" 		column="Status"/> 
        <result property="CreateDate" 	column="CreateDate"/> 
        <result property="EndDate" 		column="EndDate"/>        
        <result property="Level" 		column="Level"/>    
        <result property="TeacherName" 		column="TeacherName"/>  
                <result property="TaskType" 		column="TaskType"/>  
        <result property="ClassId" 		column="ClassId"/>  
        <result property="Purpose" 		column="Purpose"/>  
    </resultMap>
    <!-- 根据学生ID查询任务信息 --> 
    <select id="findMyTask" resultType="com.Hu.TBLBasedLearing.entity.Task" resultMap="resultMap">
	    <![CDATA[SELECT t.TaskID,t.TaskName,t.TaskDetails,t.TeacherID,t.GroupID,t.`Status`,t.CreateDate,t.EndDate,t.FilePath,t.`Level` from tasktable t INNER JOIN usertable u ON t.GroupID = u.GroupID
				where u.UserID = #{userId}]]>
    </select> 
     <select id="findTaskByID" resultType="com.Hu.TBLBasedLearing.entity.Task" resultMap="resultMap">
	    <![CDATA[SELECT * from tasktable
				where tasktable.TaskID = #{TaskID}]]>
    </select> 
    
    <!-- 修改状态 -->
    <update id="changeStatus">
    	<![CDATA[ update tasktable set Status = #{Status},FilePath =#{FilePath}
	         WHERE TaskID=#{TaskID}]]>
    </update>
    
</mapper>
    