<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<!-- 根节点,定义数据访问接口 -->
<mapper namespace="com.Hu.TBLBasedLearing.dao.TeacherMapper"> 
 	
 	<!-- 定义数据库和实体的映射关系 -->
    <resultMap id="resultMap" type="com.Hu.TBLBasedLearing.entity.Group"> 
        <id property="GroupID" column="GroupID"/> 
        <result property="GroupName" 	column="GroupName"/> 
        <result property="CreateDate" 	column="CreateDate"/> 
        <result property="DismissDate" 		column="DismissDate"/> 
     	<result property="TeacherID" 		column="TeacherID"/> 
        <result property="ClassID" 		column="ClassID"/> 
        <result property="GroupLeaderID" 		column="GroupLeaderID"/>    
         <result property="GroupLeader" 		column="UserName"/>    
         <result property="GroupLeaderNo" 		column="StudentNo"/>  
         <result property="ClassName" 		column="ClassName"/>  
    </resultMap>
 	<!-- 定义数据库和实体的映射关系 -->
    <resultMap id="taskResultMap" type="com.Hu.TBLBasedLearing.entity.Task"> 
        <id property="TaskID" 			column="TaskID"/> 
        <result property="TaskDetails" 	column="TaskDetails"/> 
        <result property="TeacherID" 	column="TeacherID"/> 
        <result property="GroupID" 		column="GroupID"/> 
     	<result property="Status" 		column="Status"/> 
        <result property="CreateDate" 	column="CreateDate"/> 
        <result property="EndDate" 		column="EndDate"/>          
        <result property="FilePath" 		column="FilePath"/>    
        <result property="Level" 		column="Level"/>    
        <result property="TeacherName" 		column="TeacherName"/>  
    </resultMap>
    
    <!-- 根据老师ID查询分组表 --> 
    <select id="getGroupByUserId" resultType="com.Hu.TBLBasedLearing.entity.Group" resultMap="resultMap">
	    <![CDATA[SELECT g.*,u.UserName,u.StudentNo,c.ClassName 
	    from grouptable g left join usertable u on g.GroupLeaderID = u.UserId 
	    				  left join classtable c on g.ClassID = c.ClassID
	         WHERE TeacherID=#{userId}]]>
    </select> 
    
        <!-- 修改分组信息 --> 
    <select id="changeGroup" >
	    <![CDATA[update usertable set GroupID=null WHERE GroupID = #{groupId};
		update usertable set GroupID=#{groupId} WHERE UserID in]]>
		<foreach collection="users" item="userid" index="index" open="(" separator="," close=");">  
            #{userid} 
        </foreach> 
       
		 <![CDATA[DELETE from usergroup where GroupID = #{groupId};
		INSERT into usergroup(UserID,GroupID,JoinDate) VALUES ]]>
		<foreach collection="users" item="userid" separator=",">  
            (#{userid},#{groupId},NOW())  
        </foreach>  

    </select> 
    
    <!-- 清空分组信息 --> 
    <select id="clearGroup" >
	    <![CDATA[update usertable set GroupID=null WHERE GroupID = #{groupId};
		DELETE from usergroup where GroupID = #{groupId}
	]]>
    </select> 
    
        <!-- 删除空白分组 --> 
    <select id="tryDeleteGroup" >
	    <![CDATA[DELETE from grouptable where GroupID = #{groupId}
	]]>
    </select> 
    
    <!-- 获取所有任务信息 --> 
    <select id="getTaskList" resultType="com.Hu.TBLBasedLearing.entity.Task" resultMap="taskResultMap">
	    <![CDATA[SELECT * from tasktable
				where tasktable.TeacherID = #{userId}]]>
    </select> 
    
    <!-- 根据学生ID查询分组信息 --> 
    <select id="getGroupByStuUserId" resultType="com.Hu.TBLBasedLearing.entity.Group" resultMap="resultMap">
	    <![CDATA[select g.GroupID,g.GroupName,g.CreateDate,g.DismissDate,g.TeacherID  FROM grouptable g
				INNER JOIN usergroup ug ON g.GroupID = ug.GroupID 
				INNER JOIN usertable u ON u.UserID = ug.UserID
				WHERE
				u.UserID = #{userId}]]>
    </select> 
 
   
</mapper>