<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<!-- 根节点,定义数据访问接口 -->
<mapper namespace="com.Hu.TBLBasedLearing.dao.UserMapper"> 
 	
 	<!-- 定义数据库和实体的映射关系 -->
    <resultMap id="resultMap" type="com.Hu.TBLBasedLearing.entity.User"> 
        <id property="UserID" column="UserID"/> 
        <result property="UserName" 	column="UserName"/> 
        <result property="Password" 	column="Password"/> 
        <result property="Gender" 		column="Gender"/> 
     	<result property="RoleID" 		column="RoleID"/> 
        <result property="GroupID" 		column="GroupID"/> 
        <result property="ClassID" 		column="ClassID"/>    
           
        <result property="RoleName" 		column="RoleName"/>    
    </resultMap>
    <!-- 根据用户名查询用户 --> 
    <select id="FindPwdByname" resultType="com.Hu.TBLBasedLearing.entity.User" resultMap="resultMap">
	    <![CDATA[SELECT * from usertable left join
	         WHERE userName=#{UserName}]]>
    </select> 
    
    <select id="FindUser" resultType="com.Hu.TBLBasedLearing.entity.User" resultMap="resultMap">
	    <![CDATA[SELECT *,RoleName from usertable u left join roletable r on r.RoleID = u.RoleID 
	         WHERE userName=#{0} and Password=#{1}]]>
    </select> 
    <insert id="Register" parameterType="com.Hu.TBLBasedLearing.entity.User">
    	<![CDATA[
            insert into usertable
            	(UserName,Password,Gender,RoleID,GroupID,ClassID)
            values
            	(#{UserName},#{Password},#{Gender},#{RoleID},#{ClassID},#{GroupID})
        ]]>
    </insert>
</mapper>